<img src="./vi_logo.png" style="float: left; margin: 10px; height: 45px">

# Vertical Institute Data Science 101
# Lesson 1: Introduction to Python


### Learning Objectives

#### Python Data Types
**At the end of this lesson, you should understand:**
- Overview of Python and Its Syntax.
- Define integers, strings, booleans, tuples, lists, and dictionaries.
- Variables, Operators and Arithmetic Expressions

### Lesson Guide
- [Jupyter Notebook](#jupyter_nb)
- [Introduction to Data Types](#intro)
- [Python Variables](#variables)
- [In-built Functions](#ibf)
- [Operators](#operators)
- [Integers and Floats](#numbers)
- [Strings](#strings)
- [Lists](#lists)
- [Dictionaries](#dictionary)
- [Tuples](#tuples)
- [None](#none)
- [Casting](#casting)

----

---

<a id='jupyter_nb'></a>
## Jupyter Notebook

Jupyter (or iPython) Notebooks are ideal environments to run Python code. Just like a notebook, you are encouraged to write personal learning notes as we go along

Code cells are run by pressing `shift + enter` or using the Play button in the toolbar.

Key buttons
- New code cell
- Cut, copy, paste
- Move cell up and down
- Run
- Kernel > Restart & Clear All Output

In [ ]:
# This is a cell.

In [ ]:
# To run this cell, either click the 'Run' button above 
# or use the shortcut 'Shift-Enter'
print('Welcome!')

### Comments
Comments are instructions that get ignored by the Python interpreter, making them the perfect tool to annotate our code

In [ ]:
# You might have noticed that lines starting with 
#'#' are comments in gray
# Python ignores these lines
# Comments are important as they allow us to annotate our code with personal notes.

### Errors
Errors are part and parcel of programming. Errors are a useful feedback mechanism that usually tells us which part of our code needs fixing.

In [ ]:
# If you forgot to add '#', Python assumes you giving it coding instructions
For example, running this code block should throw an error.

In [ ]:
# Speaking of errors...
# Errors are a common thing to see when you're coding
# Often, Python's error message gives us hints on what to fix in our code
print('Something about this line is incorrect...'

In [ ]:
# Write code to print "Hello, {your name}"

In [ ]:
# Try running this code. 
# Use the hint in the error message to fix the code
print 'What went wrong?'

---

<a id='intro'></a>
## Introduction: Python Data Types

There are several _basic_ data types within Python, the six most common being:

**Integers:** Whole numbers from negative infinity to infinity, such as 1, 0, -5, etc.

**Floats:** Short for "floating point number," usually used with decimals such as 2.8 or 3.14159.

**Strings:** A set of letters, numbers, or other characters, e.g., "The fox is quick."

**Tuples:** An ordered sequence with a fixed number of elements, e.g., in x = (1, 2, 3), the parentheses makes it a tuple. x = ("Kirk", "Picard", "Spock")

**Lists:** An ordered sequence without a fixed number of elements, e.g., x = [1, 2, 3]. Note the square brackets. x = ["Lord", "of", "the", "Rings"]

**Dictionaries**: An unordered collection of key-value pairs, e.g., x = {'Mark': 'Twain', 'Apples': 5}. To retrieve each value (the part after each colon), use its key (the part before each colon). For example, x['Apples'] retrieves the value 5.

**None** : A data type representing null/nothing

Throughout this lesson, we will review each data type more in depth and discuss common ways of interacting with each of them.

[Python's basic data types](https://en.wikiversity.org/wiki/Python/Basic_data_types).

<a id='variables'></a>
## Variables

Variables are names that have been assigned to specific values or data. These names can be almost anything you want, but there are some restrictions and best practices.

**Restrictions**
- Variable names cannot be just a number (i.e., `2`, `0.01`, `10000`).
- Variables cannot be assigned the same name as a default or imported function (i.e., '`type`', '`print`', '`for`').
- Variable names cannot contain spaces.

**Best Practices**
- Variable names should be lowercase.
- A variable's name should be representative of the value(s) it has been assigned.
- If you must use multiple words in your variable name, use an underscore to separate them.

In [1]:
# This is an example of a variable
# We have assigned a variable named x, with the value of 9.
x=9

In [ ]:
# Anytime we call x, we will print out that value (9) assigned to this variable
print(x)

In [2]:
#what happens if we want to assign another variable contains 10 ? 
x = 9 

#Ideally, we will re-assign another variable to contain it. 
y = 10

***Exercise 1***

Let's try to sum up the 2 variables together and produce the result :

In [4]:
#Answer Exercise 1

In [5]:
# If needed, we can also overwrite the value of x by reassigning a new value.
x=17
print(x)

17

In [6]:
# Variables allow us to encode more complex ideas. 
# Here are some simple algebraic representations using our variable x.
print(x+1)
print(x/3)
print(x//2)

18
5.666666666666667
8

In [7]:
# We can also reassign the value using an equation, instead of an explicit value
x = x+1 # We increment the current x by 1 = 18. Then reassign 18 to x.
print(x)

18

In [ ]:
# A shortform of this increment assignment is the += operator
# This works for -= /= *= as well. Feel free to try it out.
x += 1 # We increment the current x by 1 = 19. Then reassign 19 to x
print(x)

<a id='ibf'></a>
## In-built Functions
Functions are statements that run a specific computation on the input you give it. Functions are identifiable by the function name followed by round brackets.

Eg: print(3) is the print function which was given the input of 3

There are many in-built functions in Python which we will slowly introduce to the class. You are already familiar with print(), now let's learn about type().

type() returns the data type of the given input.

In [ ]:
# Assigning a float:
x = 1.0
type(x)

In [ ]:
# Assigning an int:
y = 1
type(y)

In [ ]:
# Assigning a string:
z = '1'
type(z)

In [ ]:
#Assigning a boolean:
valid = True
type(valid)

**It is critical to remember that, when we're assigning variables, we are not stating that "_x equals 1_," we're stating that "_x has been assigned the value of 1_."**

<a id='operators'></a>
## Operators

"Operators are the constructs (that) can manipulate the value of operands." — [Tutorials Point: Python](https://www.tutorialspoint.com/python/python_basic_operators.htm)

### Arithmetic Operators

<table>
    <thead>
        <tr>
            <th><font size="+2"> Operator</font></th>
            <th><font size="+2"> Description</font></th>
            <th><font size="+2"> Example</font></th>

  </thead>     

<tr>
    <td> <font size="+1"> + </font></td>
    <td> <font size="+1"> Add</font> </td>
    <td> <font size="+1"> 8 + 2 = 10 </font></td>

</tr>

<tr>
    <td><font size="+1">- </font></td>
    <td><font size="+1"> Subtract</font> </td>
    <td><font size="+1">  8 - 2 = 6</font></td>

</tr>


<tr>
        <td><font size="+1"> *  </font></td>
    <td><font size="+1"> Multiply </font></td>
    <td><font size="+1"> 8 * 2 = 16 </font></td>

</tr>

<tr>
    <td><font size="+1"> / </font></td>
    <td><font size="+1"> Floating-point divide </font></td>
    <td><font size="+1"> 8/2 = 4</font></td>
      
</tr>

<tr>
    <td>  </td> 
    <td>  </td> 
    <td><font size="+1"> 9/2 = 4.5 </font></td>
</tr>


<tr>
    <td><font size="+1"> // </font></td>
    <td><font size="+1"> Integer divide </font></td>
    <td><font size="+1"> 9//2 = 4</font></td>
      
</tr>

<tr>
    <td><font size="+1"> % </font></td>
    <td><font size="+1"> Modulus - Remainder when num 1 is divided by num 2 </font></td>
    <td><font size="+1"> 8%2 = 0</font></td>
      
</tr>

<tr>
    <td>  </td> 
    <td>  </td> 
    <td><font size="+1"> 9%2 = 1 </font></td>
</tr>

<tr>
    <td><font size="+1"> ** </font></td>
    <td><font size="+1"> Exponentiation </font></td>
    <td><font size="+1"> 8**2 = 64</font></td>
      
</tr>





</table>

## Python as a powerful calculator

One of the best uses of Python is as a **powerful and expressive** calculator.

In [ ]:
# Basic math operations
print(2 + 5)
print(3 - 10)
print(2 * 13)
print(20/4)

In [ ]:
# We can use brackets to express more complex operations
(50 - 5*6) / 4

In [ ]:
# For special use cases, Python gives us some advanced operators
print(17 / 3)  # classic division

print(17 // 3)  # floor division discards the fractional part

print(17 % 3)  # the % operator returns the remainder of the division

In [ ]:
# Calculate 2 to the power of 4
print(2**4)

***Exercise 2***

-Given variable radius is 3.0

-Compute the variable area of the circle with this formula radius x radius x pi. Given pi = 3.14. ** 

-Print this message in this synax : (The area is", insert the area variable,"using radius", insert the variable of radius  )

In [ ]:
#Answer 2

### Relational Operators

Operators can also be used to compare integers

<table>
    <thead>
        <tr>
            <th><font size="+2"> Operator</font></th>
            <th><font size="+2"> Description</font></th>
            <th><font size="+2"> Example</font></th>
    </thead>     

<tr>
    <td> <font size="+1"> == </font></td>
    <td> <font size="+1"> Equal </font> </td> 
    <td> <font size="+1"> <p style="text-align:justify"> 8 == 8 returns True </p></font></td> 

</tr>

<tr>
    <td>  </td> 
    <td>  </td>
    <td> <font size="+1">  <p style="text-align:justify">8 == 9 returns False </p></font></td> 
</tr>

<tr> 
    <td> <font size="+1"> != </font></td>
    <td> <font size="+1"> Not Equal </font> </td>
    <td> <font size="+1">  <p style="text-align:justify">8 != 8 returns False </font></td> 
</tr>

<tr>
    <td>  </td> 
    <td>  </td>
    <td> <font size="+1"> <p style="text-align:justify"> 8 != 9 returns True </font></td> 
</tr>

<tr> 
    <td> <font size="+1"> > </font></td>
    <td> <font size="+1"> Greater Than </font> </td>
    <td> <font size="+1"> <p style="text-align:justify"> 8>8 returns False </font></td> 
</tr>

<tr>
    <td>  </td> 
    <td>  </td>
    <td> <font size="+1">  <p style="text-align:justify">9 > 8 returns True </font></td> 
</tr>

<tr> 
    <td> <font size="+1"> >= </font></td>
    <td> <font size="+1"> Greater Than or Equal </font> </td>
    <td> <font size="+1"> <p style="text-align:justify"> 8>=8 returns True </font></td> 
</tr>

<tr>
    <td>  </td> 
    <td>  </td>
    <td> <font size="+1">  <p style="text-align:justify">9 >= 8 returns True </font></td> 
</tr>


<tr> 
    <td> <font size="+1"> &#60; </font></td>
    <td> <font size="+1"> LessThan </font> </td>
    <td> <font size="+1"> 8&#60;8 returns False </font></td> 
</tr>

<tr>
    <td>  </td> 
    <td>  </td>
    <td> <font size="+1"> 8&#60;9 returns True </font></td> 
</tr>


<tr> 
    <td> <font size="+1"> &#60; = </font></td>
    <td> <font size="+1"> Less Than or Equal </font> </td>
    <td> <font size="+1"> 8&#60; = 8 returns True </font></td> 
</tr>

<tr>
    <td>  </td> 
    <td>  </td>
    <td> <font size="+1">8&#60; = 9 returns True </font></td> 
</tr>


</table>

print (1 < 2)
print (1 > 2)
print (1==1)
print (1!=1)

***Tips*** 
    
- To get input values from other user. 


- Use this input syntax:

input(" Your message to be printed: ")

Next, if you are asking the user to input values that is integer only. 

- Use this syntax 

int(input("Your message to be printed:")

***Exercise 3 ***

- Your are going to create a mini program asking a user to key in the correct password. 

- The correct password is 10.

### Logical Operators

**Boolean Evaluation Operators** 

Booleans exist as either true or false and are generally used as a means of evaluation. Boolean truth values shown on the table below.

<!DOCTYPE html>
<html>
<head>
<style>
table,  th, td {
  border: 2px solid black;
}
    </style>

<table>
    <thead>
        <tr>
            <th><font size="+2">x</font></th>
            <th><font size="+2"> y</font></th>
            <th><font size="+2"> x and y </font></th>
            <th><font size="+2"> x or y </font></th>
            <th><font size="+2">not x </font></th>

   </thead>     

<tr>
    <td> <font size="+1"> True </font></td>
    <td> <font size="+1"> True </font> </td> 
    <td> <font size="+1"> True </font></td> 
    <td> <font size="+1"> True </font></td> 
    <td> <font size="+1"> False </font></td> 

</tr>

<tr>
    <td> <font size="+1"> True </font></td>
    <td> <font size="+1"> False </font> </td> 
    <td> <font size="+1"> False</font></td> 
    <td> <font size="+1"> True </font></td> 
    <td> <font size="+1"> False </font></td> 

</tr>
<tr>
    <td> <font size="+1"> False </font></td>
    <td> <font size="+1"> True </font> </td> 
    <td> <font size="+1"> False</font></td> 
    <td> <font size="+1"> True </font></td> 
    <td> <font size="+1"> True </font></td> 

</tr>

<tr>
    <td> <font size="+1"> False </font></td>
    <td> <font size="+1"> False </font> </td> 
    <td> <font size="+1"> False</font></td> 
    <td> <font size="+1"> False </font></td> 
    <td> <font size="+1"> True </font></td> 

</tr>

</table>
</html>

Python also has two binary logical operators and one unary logical operator shown below.

<!DOCTYPE html>
<html>
<head>
<style>
table,  th, td {
  border: 2px solid black;
}
    </style>

<table>
    <thead>
        <tr>
            <th><font size="+1">Operator</font></th>
            <th><font size="+1"> Description </font></th>
           
   </thead>     

<tr>
    <td> <font size="+1"> and </font></td>
    <td> <font size="+1"> Logical And </font> </td> 
</tr>

<tr>
    <td> <font size="+1"> or </font></td>
    <td> <font size="+1"> Logical Or </font> </td> 
    
</tr>
<tr>
    <td> <font size="+1"> not </font></td>
    <td> <font size="+1"> Logical Not </font> </td> 

</tr>

</table>
</html>

***Exercise 4 ***

- Base on the exercise 3, let's adjust the program further by having the program able to match 2 passwords instead of 1.

- Using the password with these values : 
   - 1st value is 10 
   - 2nd value is 20

### Operator Precedence and Associativity

***Operator Precedence***

- Python operators have different levels of precedence
- A good practice is to use parentheses to explicitly indicate the desired evaluation precedence
- PEMDAS


***Operator Associativity***

1. Left associativity means that the expression is evaluated from left-to-right
2. Right associativity means the expression is evaluated  from right-to-left

In [ ]:
10/5/2

In [ ]:
5**2**1

***Note: Most arithmetic operators in Python are left associative except for exponentials which are right associative***

<a id='numbers'></a>
## Numbers in Python

We're going to discuss two common ways in storing numbers in Python - floats and integers. You can read about [long](https://docs.python.org/2/library/functions.html#long) and [complex](https://docs.python.org/2/library/functions.html#complex) which are not common.

Integers are whole numbers from -inf to inf.
- -1
- 1
- 100

Floats are numbers with decimals.
- -1.0
- 22.22
- 0.1234567

In [ ]:
answer = 20/8

In [ ]:
print(answer)

In [ ]:
float(20)

If an integer or float is compatible, it can be converted to the other type.

In [ ]:
x_int = 1
x_float = 1.0

In [ ]:
float(x_int)

In [ ]:
type(int(x_float))

<a id='strings'></a>

## Strings

Strings are essentially any character combination in between quotes. They are most often used as a way of storing text.

In [ ]:
s = "Hello world"
type(s)

In [ ]:
# You can use '' or "" or """""" to declare a string
print('My favourite language is Python!')
print("My favourite food is Python!")
print("""
I love Python so much
that I want to write about it in multiple
lines!
""")

In [16]:
# But whichever quotation mark you choose, you have to be consistent
print('this will raise an error")

SyntaxError: EOL while scanning string literal (<ipython-input-16-59940416d822>, line 2)

In [ ]:
# Math operators do not work on strings
a = 1
print(a+1) # This works because addition works with integers

b='abcdef'
print(b+1) # This throws an error because addition does not work with strings

***Exercise 5 *** 

Write a variable contains 20, another variable contains "ten". 

Use this formula:  20/"ten"

Strings have a lot of associated methods and attributes that allow us to better understand and manipulate them.

In [18]:
# Length of the string:
s = "Hello world"
len(s)

11

In [19]:
# Replace an element of a string:
s2 = s.replace("world", "test")
print(s2)

Hello test

In [20]:
# We can also easily convert the string to upper or lower case
print(s.lower())
print(s.upper())

hello world
HELLO WORLD

In [ ]:
#Multiplying is very easy and straightforward.
x = 'Hello '
x * 5

***Exercise 6***

- Count the variable y = ("happy", "day")

- Replace the sentence "today is a happy happy day" into "today is a excited happy day"

<a id='lists'></a>


## Lists

Lists are a means of storing ordered data.

Lists can be composed of ints, floats, strings, or other lists, as well as other data types we haven't covered yet.

In [ ]:
l = [1, 2, 3, 4]

print(type(l))
print(l)

In [ ]:
# The contents of a variable can be reassigned to another variable:
a = l

In [ ]:
print(a)

In [ ]:
# We can retrieve individual elements in 
# a list by calling it's index
print(l[0])
print(l[1])
print(l[2])
print(l[3])

In [ ]:
# What happens when we try this?
print(l[4])

In [ ]:
# We can also replace elements in the same way
l[0]=999
print(l)

In [ ]:
# List of strings:
names = ["Tom", "James", "Joe"]
print(names)

In [46]:
n = 12
sum = 0
for num in range(0, n+1, 1):
    sum = sum+num
print("SUM of first ", n, "numbers is: ", sum )

SUM of first  12 numbers is:  78

Lists also have several methods that allow us to alter them, such as the `.append()` method, which allows us to add another element to the end of a list.

In [ ]:
names.append("Chris")

In [ ]:
names

In [ ]:
# Lists don't have to be the same type:
l = [1, 'a', 1.0, True]
print(l)

***Exercise 7***

- Create a list with these numbers [10,20,30,40]. Using the above list and add on this new word "marks" into this list. 

- Using the same list and print the word marks only

Here's how we create a list from scratch:

In [ ]:
# Create a new empty list:
l = list()
l = []

# Add an element using append():
l.append(1)
l.append(2)
l.append(3)

print(l)

Use the `.insert()` method to add values at specific indices.

In [ ]:
l.insert(0, "a")
l.insert(3, "b")

print(l)

If a value already exists at an index where we're trying to insert the new value, the original value gets bumped to the next index.

---
The `.remove()` method can be used to remove specific values if they appear in a list.

In [ ]:
l.remove(1)
print(l)

On the other hand, the `del()` function can be used with a list and index to delete values.

In [ ]:
del l[3]

print(l)

<a id='dictionary'></a>


## Dictionaries

Dictionaries are a non-ordered Python data type. Instead of using an ordered index to access data stored in a dictionary, we use a system of key-value pairs.

- A key is similar to a variable name. 
- A value is similar to the value assigned to the variable.

Curly braces ({ }) enclose dictionaries. Note: You can also use curly braces to construct a set. The first input in a dictionary pair is the "key." The second input in a dictionary pair is the "value." The general format looks like this:

In [ ]:
student = {"name" : "Kim",
          "age" : 29,
          "sex" : "F",}

print(type(student))
print(student)

You can't have more than one key of the same name.

In [ ]:
# Value for parameter2 in the params dictionary:
student["name"]

In [ ]:
# Adding a new dictionary entry:
student["grade"] = "B"

In [ ]:
# Print the entirety of the dictionary:
print(student)

In [ ]:
# Reassigning the value of a key-value pair in the dictionary:
student["age"] = 30
student["grade"] = "B+"

<a id='tuples'></a>


## Tuples

Tuples are similar to lists in that they store a sequence of various separate values. However, tuples are not mutable in that, once they are created, their values cannot be changed.

In [ ]:
# Example of a tuple
point = (1, 5)
print(point)
print(type(point))

In [ ]:
# Tuples are immutable, meaning that we can't add new elements to a 
# tuple like we can do with lists

my_list = [1,2,3]
my_tuple = (1,2,3)
my_list.appened(4)
print(my_list)

In [ ]:
my_tuple.append(4) # This will raise an error

Unpacking a variable is a common practice when iterating through Python data types. Unpacking essentially allows us to simultaneously set new variables to items in a list, tuple, or dictionary.

In [ ]:
# Unpacking:
x, y = point

print(x)
print(y)

<a id='none'></a>
## None
We reserve the keyword **None** for a data type that does nothing.

In [ ]:
# Observe how None is not the same as 0.

## Integer
x = 0
x = x+1
print(x)

In [ ]:
## NoneType
x = None
x = x+1
print(x)

In [ ]:
# Consider, why do we need None as a data type?

<a id='casting'></a>
## Casting
Converting variables from 1 data type to another

In [ ]:
# Casting Int to Float
y=3
print(y)
print(type(y))

z=float(y)
print(z)
print(type(z))

In [ ]:
# Casting Int to String
y=3
print(y)
print(type(y))

z=str(y)
print(z)
print(type(z))

In [ ]:
y=3
y+1

In [ ]:
z=str(y)
z+1


<a name="conclusion"></a>
## Lesson Summary


Let's review what we learned today. We:

- Discussed the overview of Python and Its Syntax.
- Define integers, strings, tuples, lists, and dictionaries.
- Variables, Operators and Arithmetic Expressions


### Additional Questions?


....